TWITTER_CONSUMER_KEY = ""
TWITTER_CONSUMER_SECRET = ""
TWITTER_ACCESS_TOKEN_KEY = ""
TWITTER_ACCESS_TOKEN_SECRET = ""

BTZ_CHECK_INTERVAL_SECONDS = 1
BTZ_GET_FOLLOWERS_PAGINATION = 2
BTZ_LAST_NEWEST_FOLLOWER_ID_FILENAME = "last_newest_follower_id"
